<h1>Random Character</h1>

<p>
  <b>Race:</b> <%= @character.race %>
</p>
<p>
  <b>Class:</b> <%= @character.klass %>
</p>
<p>
  <b>Background:</b> <%= @character.background %>
</p>
<a href="/character">reload</a><br>
<a href="/welcome">back</a>
