<h1>Creature</h1>
<p>
<%= @creature.elements.join(' &rarr; ') %>
</p>

<% @creature.details.each do |name, value| %>
<p>
  <b><%= name %>:</b> <i><%= value %></i>
</p>
<% end %>

<a href="/creature?seed=<%= @seed %>">Share</a><br>
<a href="/creature">reload</a><br>
<a href="/welcome">back</a>
