<h1>Discovery</h1>
<p>
<%= @discovery.elements.join(' &rarr; ') %>
</p>

<% @discovery.details.each do |name, value| %>
<p>
  <b><%= name %>:</b> <i><%= value %></i>
</p>
<% end %>

<a href="/discovery?seed=<%= Base58.encode(@seed) %>">Share</a><br>
<a href="/discovery">reload</a><br>
<a href="/welcome">back</a>
