<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Perilous Wilds</title>
  <meta name="description" content="The Perilous Wilds">
  <meta name="author" content="Alexander Graefe">
</head>

<body>
  <%= yield %>
  <hr>
  Made with <a href="http://ruby-lang.org">Ruby</a>, <a href="http://roda.jeremyevans.net">Roda</a> and <a href="https://rubygems.org/gems/faker-fantasy">Faker::Fantasy</a>
  <br>
  Random tables from <a href="https://www.kickstarter.com/projects/1735046512/perilous-journeys">The Perilous Wilds</a> by <a href="http://lampblackandbrimstone.blogspot.com">Lampblack &amp; Brimstone</a>
  <br>
  Contact: <a href="mailto:alexander.graefe@googlemail.com">alexander.graefe@googlemail.com</a>
</body>
</html>
