<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Perilous Wilds</title>
  <meta name="description" content="The Perilous Wilds">
  <meta name="author" content="Alexander Graefe">
</head>

<body>
  <%= yield %>
  <hr>
  Contact: <a href="mailto:alexander.graefe@googlemail.com">alexander.graefe@googlemail.com</a>
</body>
</html>
