<h1>Welcome to the Perilous Wilds</h1>

<a href="/region">Name a region</a>
<br>
<a href="/place">Name a place</a>
<br>
<a href="/item">Random item</a>
<br>
<a href="/discovery">Random discovery</a>
<br>
<a href="/creature">Random creature</a>
