@function google-font($n) {
  @return 'https://fonts.googleapis.com/css?family=' + $n;
}

$font-url: google-font('Averia+Serif+Libre:700');
@import url($font-url);

$light-brown: #e5cdb2;

body {
  background: $light-brown;


  h1 {
    font-family: 'Averia Serif Libre';
    font-size: 3em;
  }


  p, li {
    font-size: 2em;
  }

  ul {
    margin-left: 1em;
    margin-top: 0.5em;
  }
}
